$base: #2F31F5;
$primary100: #F2F3F4;
$primary200: #EBEAED;
$primary300: #ED4B00;
$primary400: #2000B1;
$primary500: #02066F;
$primary600: #020035;
$primary700: #171A21;

$layout-paddings: 20px;

// IMPORTS
@import './styles/knacss/knacss.scss';
@import './styles/knacss/global.scss';

@import './styles/inputs.scss';