registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-factor=2
fetch-timeout=300000
request-timeout=300000
side-effects-cache=false
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
