.page-auth {
  .layout-maxed {
    min-height: 90dvh;
  }

  .signin-container {
    border-right: 1px solid $primary;
  }

  @media screen and (max-width: $large) {
    .signin-container {
      border-right: none;
      border-bottom: 1px solid $primary;
    }

  }
}