.dashboard-template {
  .dashboard-link {
    font-size: 26px;
    color: $primary;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;


    &.active,
    &:hover {
      border-bottom: 2px solid $primary;
    }
  }

  h1 {
    font-size: 36px;
    color: $primary;
    margin-bottom: 20px;
  }
}

.page-dashboard {
  .update-user-files-offcanvas {
    form {
      label {
        font-size: 16px;
        color: $primary;
        text-align: center;
        margin-bottom: 10px;
      }

      &:first-of-type {
        padding: 20px;
        border-bottom: 1px solid $primary;
      }

      &:last-of-type {
        padding-top: 20px;
      }

      .file-preview {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
      }

      img {
        max-width: 600px;
      }
    }
  }
}