table {
  border-collapse: collapse;
  border: 1px solid $primary;
  margin: 0 0 20px 0;
  caption-side: bottom;

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    border: 0 solid;
    border-color: inherit;
  }

  td,
  th {
    border: 1px solid #b8b9ba;
    padding: 5px;
  }

  td {
    padding: 10px 20px;
  }

  img {
    width: 80px;
  }
}